<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Home
    </title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/">Tempi</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stock
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/stock">Add Stock</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/stock">View Stock</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/history">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contact">Contact Us<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<h1>Contact Us at...</h1>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>