<!DOCTYPE html>
<html lang="en">
<head>

    <title>
        Home
    </title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

</head>
<body background="/static/images/farm.jpg">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/"><img src="static/images/cloud.png" style=" width: 25%" >&nbsp;G-IoT</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stock
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/stock">Add Stock</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/viewstock">View Stock</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/history">History</a>
      </li>
    </ul>
  </div>
</nav>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<br>
  <br>
   <br>
  <br> <br>
  <br> <br>
<div class="container" >
	
    <div class="text-left" style="position: absolute; font-family: Times; top: 35%; left: 20%; transform: translate(-50%, -50%); font-size: 250%; font-weight: normal">Warehouse Temperature<br><br>Temperature :  {{Temp}}°c<br>
    Humidity : {{Hum}}%</div>
</div>
</body>
</html>



