<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Home
    </title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<a class="navbar-brand" href="/"><img src="static/images/cloud.png" style=" width: 25%" >&nbsp;G-IoT</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stock
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/stock">Add Stock</a>
            <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/viewstock">View Stock</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/history">History</a>
      </li>
    </ul>
  </div>
</nav>
<marquee><h4>Temperature {{Temp}}°c | Humidity {{Hum}}% </h4></marquee>

<form>
  <div class="col-sm-4">
      <div class="form-group">
        <label for="block"><h3>Block</h3></label>
            <select class="form-control" id="block">
                <option disabled selected hidden>Please Choose...</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
            </select>
      </div>
      <div class="form-group">
        <label for="grain"><h3>Grain</h3></label>
            <select class="form-control" id="grain">
                <option disabled selected hidden>Please Choose...</option>
                <option>Rice</option>
                <option>Wheat</option>
                <option>Maze</option>
            </select>
      </div>
      <div class="form-group">
          <label for="type"><h3>Type</h3></label>
          <input type="text" class="form-control" id="type" placeholder="Basmati">
      </div>
      <div class="form-group">
          <label for="weight"><h3>Kgs.</h3></label>
          <input type="number" class="form-control" id="weight" placeholder="40">
      </div>
      <div class="btn-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary btn-block">Add Stock</button>
        </div>
        <div class="col-sm-12">
          <button type="reset" class="btn btn-danger btn-block">Clear</button>
        </div>
      </div>
</form>
<br>
<br>
<div id="successAlert" class="alert alert-success" role="alert" style="display: none;"></div>
<div id="errorAlert" class="alert alert-danger" role="alert" style="display: none;"></div>
<script>
    $(document).ready(function(){
    $('form').on('submit',function(event) {
        console.log(document.getElementById('block'))
        $.ajax({
            data : {
                block : $('#block').val(),
                grain : $('#grain').val(),
                type : $('#type').val(),
                weight : $('#weight').val()
            },
            type : 'POST',
            url : '/process'
        })
        .done(function(data) {

            if(data.error){
                $('#errorAlert').text(data.error).show();
                $('#successAlert').hide();
            }
            else{
                 $('#successAlert').text('Stock Added').show();
                 $('#errorAlert').hide();
            }

        });
        [0].reset();
        event.preventDefault();

    });

});
    </script>
</body>
</html>
